/*Variables*/

$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Merriweather', serif;
$font-text: 'Roboto Slab', serif;

$color-one: #ffffff;
$color-two: #222222;
$color-three: #777777;
$color-four: #fed136;

$transition: all 0.5s;

/*Global*/

body {
    margin: 0;
}

section {
    padding: 60px 0;
}

.section-title {
    color: $color-two;
    font-family: $font-title;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.section-subtitle {
    color: $color-three;
    font-family: $font-subtitle;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 0;
}

.inner-title {
    color: $color-two;
    font-family: $font-title;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -0.45px;
    margin: 0 auto;
    text-align: center;
}

.inner-description {
    color: $color-three;
    font-family: $font-text;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
    margin: 0 auto 40px;
    text-align: center;
}

.btn {
    width: 240px;
    height: 65px;
    background-color: $color-four;
    padding: 25px 51px;
    color: $color-one;
    font-family: $font-title;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    transition: $transition;
  }
  
.btn:hover {
    background-color: darken($color-four, 20%);
}


/*Header*/

.header {
    height: 100vh;
    max-width: 1920px;
    background-image: url('https://i.imgur.com/fV9jYNb.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.splash {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 70px 250px 30px;
    img {
        width: 79px;
        height: 28px;
    }
    ul {
        display: flex;
        list-style: none;
        li {
            margin-right: 60px;
            a {
                color: $color-one;
                font-family: $font-title;
                font-size: 14px;
                font-weight: 400;
                line-height: 41px;
                text-transform: uppercase;  
                text-decoration: none; 
            }
        }
        div {
            color: $color-one;
        }
    }
}

.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-one;
    text-align: center;
    .splash-title {
        font-family: $font-title;
        font-size: 75px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1.88px;
    }
    .splash-subtitle {
        font-family: $font-subtitle;
        font-size: 40px;
        font-style: italic;
        letter-spacing: -1px;
    }
}


/*Services*/

.services-icon {
    position: relative;
    width: 67px;
    height: 67px;
    border: 3px solid $color-four;
    border-radius: 50%;
    margin: auto;
}

.services-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-four;
    font-size: 35px;
}


/*Portfolio*/

.portfolio {
    background-color: #f7f7f7;
}

.portfolio-image {
    text-align: center;
}

.portfolio-description {
    background-color: $color-one;
    width: 291px;
    margin: 0 auto;
    .inner-title {
        line-height: normal;
        padding-top: 30px;
    }
    .section-subtitle {
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
}


/*Footer*/

.page-footer {
    padding: 24px 0;
}

.footer-inner {
    align-items: center;
    text-align: center;
}

.paragraph {
    color: $color-two;
    font-family: $font-title;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.35px;
}

.social-links li {
    position: relative;
    display: inline-block;
    background: $color-two;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    transition: $transition;
    border: 2px solid $color-two;
    i {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        color: $color-one;
    }
}

.social-links li:hover {
    background: $color-one;
    i {
        color: $color-two;
    }
}


/* Media */

/* Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px) {} */

/* Low Resolution Tablets, Mobiles (Landscape)
@media (min-width: 481px) and (max-width: 767px) {} */

/* Tablets, Ipads (portrait)
@media (min-width: 768px) and (max-width: 1024px) {} */

/* Tablets, Ipads (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {} */

@media (max-width: 576px) {
    .splash-inner .splash-subtitle {
        font-size: 15px;
    }
    .splash-inner .splash-title {
        font-size: 20px;
    }
    .splash-inner .btn {
        font-size: 9px;
        padding: 7px 15px;
    }
}

@media (max-width: 767px) {
    .navigation {
        padding-left: 10px;
        padding-top: 10px;
        display: block;
    }
    .navigation ul {
        margin-top: 0;
        flex-direction: column;
    }
    .navigation ul li a {
        font-size: 10px;
    }
    .splash-inner .splash-subtitle {
        font-size: 20px;
    }
    .splash-inner .splash-title {
        font-size: 37px;
    }
    .splash-inner .btn {
        font-size: 12px;
        padding: 10px 20px;
    }
}

@media (max-width: 1024px) {
    .navigation ul {
        padding-left: 15px;
    }
    .navigation ul li {
        margin-right: 15px;
    }
    .footer-inner {
        flex-direction: column-reverse;
    }
    .footer-inner .paragraph {
        max-width: 100%;
    }
    .footer-inner .social-links {
        max-width: 100%;
    }
}