/*Variables*/

$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Merriweather', serif;
$font-text: 'Roboto Slab', serif;

$color-one: #ffffff;
$color-two: #222222;
$color-three: #777777;

$transition: all 1s;